@import "tailwindcss";

body {
  background-color: #001a6e;
  overflow: hidden;
}

/* HEADER */

.div-header {
  background-color: #074799;
  border-radius: 50px;
  width: 70%;
  text-align: center;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  overflow: hidden;
}

/* MAIN */

.div-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
