@import "tailwindcss";

@font-face {
  font-family: "NotoSans-1";
  src: url(NotoSans-Bold.ttf);
}
@font-face {
  font-family: "NotoSans-2";
  src: url(NotoSans-Medium.ttf);
}

body {
  background-color: #001a6e;
  overflow: hidden;
  font-family: "NotoSans" !important;
}

body.dark-mode {
  background-color: #001a6e;
  color: white; /* لون النص في الوضع الداكن */
  overflow: hidden;
}

body.light-mode {
  /* background-color: #679fa6; */
  background-color: #9ad2d9;
  color: black; /* لون النص في الوضع الفاتح */
  overflow: hidden;
}

@font-face {
  font-family: NotoSans;
  src: url("/public/fonts/NotoSans-Regular.ttf");
  weight: 500;
}

/* HEADER */

/* .div-dark {
  background-color: #001a6e;
}

.div-light {
  background-color: #b1c3ff;
  height: 100%;
} */

.element {
  width: 100vw;
}

.div-header {
  background-color: #074799;
  border-radius: 50px;
  width: 70%;
  text-align: center;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  overflow: hidden;
}

/* MAIN */

.div-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-Autocomplete {
  text-align: center;
}
